.header
  .container
    %h1.inline-block.two-thirds.v-bottom.palm--block>
      Nazila PIN
      %br
      Psychologue clinicienne
    .inline-block.palm--block.one-third.text--right.palm--text--left.v-bottom.palm--block>
      %div
        10 rue Marechal Joffre
      %div
        06000 Nice

%hr

.container
  -# %p.flush
  -#   Bonjour,
  -#   %br
  -#   Nazila PIN psychologue clinicienne basée à Nice. J'interviens en tant que :
  -# %ul
  -#   %li Aide personnelle en entretien individuel, en couple ou en famille — 50€ les 45min.
  -#   %li Animation de groupe de parole pour équipe médicale, au sein de société — 250€ la demi-journée.

  .soft--bottom
    -# %h2 Groupes de parole :
    -# %h4.flush--bottom Devenir maman : questions & angoisses
    -# - if Date.today < Date.parse('2016-04-20')
    -#   %p Mercredi 20 avril 2016 à 15h — 30€ / personne

  .soft--bottom
    %p
      %strong Psychologue clinicienne de formation
      , je propose des
      %strong entretiens individuels ou de couples
      sur divers sujets tels que la vie familiale, la vie professionnelle, la maladie, le stress, ...
    %p
      Des
      %strong suivis de grossesse
      sont possibles, sur les difficultés liées à la conception, au déroulement ou à l'après (post partum).

    %p
      Je propose également des
      %strong consultations pour les enfants et leurs parents
      liées à des problématiques comme les angoisses, les difficultés scolaires, l'énurésie, ...

    %p
      Des
      %strong groupes de paroles
      sont proposés chaque mois sur différents thèmes, notamment liés à la grossesse. Ces groupes permettent d'échanger autour d'un sujet et offrent aux participants la possibilité de partager des difficultés ou des idées communes.

    %p
      %strong Ma pratique est basée sur l'écoute, l'accompagnement psychologique est important et je m'efforce d'être la plus bienveillante possible dans le suivi.

    .text--center
      %a.btn{ href: "http://www.mondocteur.fr/psychologue/nice/nazila-pin-6759.html" }
        Prendre rendez-vous en ligne

    .inline-block.one-half.v-top.hidden--palm>
      %h3 Contact

    .inline-block.one-half.v-top.hidden--palm>
      %h3 Pour vous rendre sur place :

    .inline-block.one-half.v-top.palm--block>
      .hidden--lap-and-up
        %h3 Contact
      %div
        %strong Nazila Pin
      %div
        Psychologue à Nice
      %div
        07 68 05 19 11
      %div
        %a{ href: "mailto:contact@nazila-psychologue.fr?subject=Rendez-vous"} contact@nazila-psychologue.fr

    .inline-block.one-half.v-top.palm--block>
      .hidden--lap-and-up
        %h3 Pour vous rendre sur place :
      %p.flush
        %strong 10 rue Marechal Joffre
        %br
        06000 Nice
        %br
        Bus : 3, 7, 9, 10, 22 ; Tram : T1 Jean Médecin

.text--center.soft--ends
  %img{ src: 'assets/desc1.jpg', height: 250, width: 190, alt: 'Photo de Nazila Pin Psychologue' }
  %img{ src: 'assets/desc3.jpg', height: 250, width: 333, alt: 'Photo du cabinet de Nazila Pin Psychologue' }
  %img{ src: 'assets/desc4.jpg', height: 250, width: 190, alt: 'Photo du cabinet de Nazila Pin Psychologue' }
  %img{ src: 'assets/desc5.jpg', height: 250, width: 190, alt: 'Photo du cabinet de Nazila Pin Psychologue' }


.google-map#map


- content_for :scripts do
  :javascript
    var my_place = new google.maps.LatLng(43.6993045, 7.2644728,17);
    function initialize() {
      var mapCanvas = document.getElementById('map');
      var mapOptions = {
        center: my_place,
        zoom: 14,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({
        position: my_place,
        map: map
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);

