/**
 * Links
 */
a {
  color: inherit;
  transition: all 50ms linear;
  text-decoration: none;
}

a:active,
a:visited {
  color: inherit;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
