@import "settings/global";

@import "inuit/settings/settings.defaults";
@import "inuit/settings/settings.responsive";

@import "inuit/tools/tools.functions";
@import "inuit/tools/tools.responsive";
@import "inuit/components/trumps.spacing";

@import "base/header";
@import "base/headings";
@import "base/links";
@import "base/lists";
@import "base/page";
@import "base/paragraphs";

@import "helpers/fonts";

@import "objects/buttons";

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-image: linear-gradient(to bottom, $pink, #FFFFFF 100%);
    background-size: 100% 400px;
    background-repeat  : no-repeat;
    background-position: top;
}
  .body-wrapper {
    background-image   : url(background.png);
    background-repeat  : no-repeat;
    background-position: top right;
    background-size    : 200px 418px;
  }

.container {
    margin   : auto;
    max-width: 800px;
    padding  : 1em;
}

hr {
    border: none;
    border-bottom: 2px solid $pink;
}

.google-map {
    height: 400px;
}

img {
    border-radius: 2px
}
