@import "settings/global";

@import "inuit/settings/*";
@import "inuit/tools/*";
@import "inuit/components/*";

@import "base/*";
@import "helpers/*";
@import "objects/*";


body {
    font-size: 20px;
}

.container {
    margin   : auto;
    max-width: 800px;
    padding  : 1em;
}

hr {
    border: none;
    border-bottom: 2px solid $pink;
}

.google-map {
    height: 400px;
}

img {
    border-radius: 2px
}
