@import "settings/global";

@import "inuit/settings/*";
@import "inuit/tools/*";
@import "inuit/components/*";


@import "base/*";
@import "helpers/*";

body {
    font-size: 20px;
}

.container {
    margin   : auto;
    max-width: 800px;
    padding  : 1em;
}

hr {
    border: none;
    border-bottom: 2px solid #FBEEEE;
}

.google-map {
    //width : 75%;
    height: 400px;
}

.footer {
    padding-bottom: 2em;
}
