/**
 * Fonts
 */
// $typeface: serif;
$typeface: 'Scope One', serif;


/**
 * Spacing
 */
$base-spacing-unit: 20px!default;
$half-spacing-unit: 12px!default;
$quarter-spacing-unit: $half-spacing-unit / 2!default;

$pink: #FBEEEE;
